*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

#过滤存放class的文件夹
bin/

#过滤eclipse相关的文件夹
/RemoteSystemsTempFiles/
/.metadata/
/Servers/
/.settings/
/target/

